<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Otomar.WebApp.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
      
         <rewrite>
            <rules>
              <rule name="Redirect www to non-www" stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                  <add input="{HTTP_HOST}" pattern="^www\.(.*)$" />
                </conditions>
                <action type="Redirect" url="https://{C:1}/{R:1}" redirectType="Permanent" />
              </rule>
            </rules>
       </rewrite>
    </system.webServer>
  </location>
</configuration>
