@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["MetaDescription"] = "OTOMAR Yedek Parça hakkında. Orijinal ve yan sanayi oto yedek parça ürünleri sunuyoruz.";
    ViewData["BreadcrumbItems"] = new List<BreadcrumbItem>
    {
        new("Ana Sayfa", "/ana-sayfa"),
        new(ViewData["Title"] as string, null)
    };
}

<!-- Start about section -->
<section class="about__section section--padding mb-95">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about__thumb">
                    <div class="about__thumb--items">
                        <img class="about__thumb--img border-radius-5" src="/assets/img/logo/otomar.png" alt="about-thumb">
                    </div>
                
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about__content">
                    <h2 class="about__content--maintitle mb-25">OTOMAR Yedek Parça</h2>
                    <p class="about__content--desc mb-20">
                        1968 yılında İzmir – 1. Sanayi Sitesi’nde Bekir BEKİROĞLU tarafından kurulmuştur. 1971 yılında Tofaş-Fiat marka araçların yedek parçalarını tali bayi olarak satmaya başlamıştır. 1983 yılında Otomak Ltd. Şti. adı altında toptan ve perakende firması olarak faaliyetlerine devam etmiştir.

                        1998 yılında gelişen perakende sektörü göz önüne alınarak OTOMAR Yedek Parça olarak bugünkü yapısına gelmiştir.
                    </p>
                
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about section -->
<!-- Start brand section -->
<div class="brand__section brand__section--style3 section--padding">
    <div class="container">
        <div class="brand__section--inner__style3 d-flex justify-content-between align-items-center">

            <div class="brang__logo--items">
                <img class="brang__logo--img" src="/assets/img/logo/abarth.webp" width=152 alt="Abarth marka logosu">
            </div>
            <div class="brang__logo--items">
                <img class="brang__logo--img" src="/assets/img/logo/alfa romeo.webp" width=152
                     alt="Alfa Romeo marka logosu">
            </div>
            <div class="brang__logo--items">
                <img class="brang__logo--img" src="/assets/img/logo/citroen.webp" width=152 alt="Citroen marka logosu">
            </div>
            <div class="brang__logo--items">
                <img class="brang__logo--img" src="/assets/img/logo/ds automobiles.webp" width=152
                     alt="DS Automobiles marka logosu">
            </div>
            <div class="brang__logo--items">
                <img class="brang__logo--img" src="/assets/img/logo/fiat.webp" width=152 alt="Fiat marka logosu">
            </div>
            <div class="brang__logo--items">
                <img class="brang__logo--img" src="/assets/img/logo/jeep.webp" width=152 alt="Jeep marka logosu">
            </div>
            <div class="brang__logo--items">
                <img class="brang__logo--img" src="/assets/img/logo/lancia.webp" width=152 alt="Lancia marka logosu">
            </div>
            <div class="brang__logo--items">
                <img class="brang__logo--img" src="/assets/img/logo/opel.webp" width=152 alt="Opel marka logosu">
            </div>
            <div class="brang__logo--items">
                <img class="brang__logo--img" src="/assets/img/logo/peugeot.webp" width=152 alt="Peugeot marka logosu">
            </div>
            <div class="brang__logo--items">
                <img class="brang__logo--img" src="/assets/img/logo/ram.webp" width=152 alt="Ram marka logosu">
            </div>
            <div class="brang__logo--items">
                <img class="brang__logo--img" src="/assets/img/logo/tofaş.webp" width=152 alt="Tofaş marka logosu">
            </div>
            <div class="brang__logo--items">
                <img class="brang__logo--img" src="/assets/img/logo/toyota.webp" width=152 alt="Toyota marka logosu">
            </div>
        </div>
    </div>
</div>
<!-- End brand section -->