@model string
@{
    ViewData["Title"] = "Şartlar ve Koşullar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["BreadcrumbItems"] = new List<BreadcrumbItem>
    {
        new("Ana Sayfa", "/ana-sayfa"),
        new(ViewData["Title"] as string, null)
    };
}

<section class="about__section section--padding mb-95">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="about__content">
                    <span class="about__content--subtitle text__secondary mb-20"> Şartlar ve Koşullar</span>
                    <h2 class="about__content--maintitle mb-25"></h2>
                    <p class="about__content--desc mb-20">@Html.Raw(Model)</p>

                </div>
            </div>
        </div>
    </div>
</section>